.title-and-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closed-icon {
  cursor: pointer;
  margin-right: 24px;
}

.dialog-content {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.select-box {
  min-width: 100%;
  margin-top: 10px;
}
